.slideshow-container {
    position: relative;
    margin: auto;
    width: 100%;
}

.slide-container {
    display: flex;
    justify-content: center;
}

.slideshow img {
    max-width: 100%;
    display: none;
    height: 200px;
}

.slideshow img.active {
    display: block;
}

.prev, .next {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 50%; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.prev {
    left: 0;
    margin-left: 10px;
}

.next {
    right: 0;
    margin-right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
