.addEvent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btnCircle {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: #ffd400;
    color: black;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    margin: 40px;
}

.btnAdd:hover {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
    /* Adiciona uma sombra suave */
}