.userList {
    background-color: #0314af;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.profilesImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1%;
}

.offlineIndicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.onlineIndicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
}